.icons-header {
    margin-top: 0;
}



.icons-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.icons-wrapper > div > i {
    font-size: 40px;
    cursor: pointer;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
}

.icons-wrapper > div > i:hover {
    box-shadow: 0 1px 10px gray;
}

.fa-list {
    font-size: 40px;
    cursor: pointer;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10%;
}

.fa-list:hover {
    box-shadow: 0 1px 10px gray;
}
