.oneChallenge-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.oneChallenge-body {
  text-align: left;
  margin-bottom: 20px;
}

.oneChallenge-footer {
  display: flex;
  justify-content: space-between;
}

.oneChallenge-join-button {
  font-size: 15px;
}

.oneChallenge-main-participants {
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

#light .oneChallenge-main-participants {
  border-bottom: solid 1px #ccc;
}

#dim .oneChallenge-main-participants {
  border-bottom: solid 1px #37444d;
}

#black .oneChallenge-main-participants {
  border-bottom: solid 1px #2f3336;
}

.oneChallenge-main-header {
  width: 95%;
  padding: 15px;
}

.oneChallenge-main-tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.oneChallenge-main-tabSlider {
  width: 61px;
  height: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 5px;
  transition: left 0.25s ease-in-out;
  background-color: blue;
}

.oneChallenge-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
}
