.oneChallenge-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.oneChallenge-body {
  text-align: left;
  margin-bottom: 20px;
}

.oneChallenge-footer {
  display: flex;
  justify-content: space-between;
}


.oneChallenge-icon {
  font-size: 35px;
  margin-left: 20px;
}

.oneChallenge-join-button {
  font-size: 15px;
}

.oneChallenge-main-participants {
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: flex-start;
  padding: 15px;
}

.oneChallenge-main-header {
  width: 95%;
  padding: 15px;
}

#light .oneChallenge-main-header {
  border-bottom: solid 1px #ccc;
}

#dim .oneChallenge-main-header {
  border-bottom: solid 1px #37444d;
}

#black .oneChallenge-main-header {
  border-bottom: solid 1px #2f3336;
}

.oneChallenge-main-tabs {
  display: flex;
  justify-content: space-around;
}

.oneChallenge-main-tabSlider {
  width: 61px;
  height: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  transition: left 0.2s ease-in-out;
}

#red .oneChallenge-main-tabSlider {
  background-color: #ef3e2e;
}

#orange .oneChallenge-main-tabSlider {
  background-color: #ff7a00;
}

#yellow .oneChallenge-main-tabSlider {
  background-color: #ffd400;
}

#green .oneChallenge-main-tabSlider {
  background-color: #acfc3c;
}

#blue .oneChallenge-main-tabSlider {
  background-color: #222da1;
}

#purple .oneChallenge-main-tabSlider {
  background-color: #7856ff;
}

#pink .oneChallenge-main-tabSlider {
  background-color: #ff86e0;
}

.oneChallenge-header-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.oneChallenge-tab {
  width: 100%;
  height: 40px;
  padding-top: 13px;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-size: 15px;
}

#light .oneChallenge-tab:hover {
  background-color: #f3f3f750;
}

#dim .oneChallenge-tab:hover {
  background-color: #2c364050;
}

#black .oneChallenge-tab:hover {
  background-color: #18181850;
}

.oneChallenge-main-tabs-wrapper {
  position: relative;
}

#light .oneChallenge-main-tabs-wrapper {
  border-bottom: solid 1px #ccc;
}

#dim .oneChallenge-main-tabs-wrapper {
  border-bottom: solid 1px #37444d;
}

#black .oneChallenge-main-tabs-wrapper {
  border-bottom: solid 1px #2f3336;
}
