[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycodestyle = "*"
pylint = "*"
flask = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
python-dotenv = "*"
sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
