.FollowsList_Wrapper {
  display: grid;
  padding: 16px 16px 0 16px;
  grid-template-columns: 10% 65% 25%;
}

.FollowsList_middle_holder {
  text-align: left;
}

.FollowsList_title {
  font-weight: bold;
  font-size: 15px;
}

.FollowsList_id {
  font-size: 15px;
}

.FollowsList_bio {
  font-size: 15px;
  height: 20px;
  width: 450px;
}

.FollowsList_follow_btn {
  padding: 0;
  width: 113px;
  height: 50%;
  font-size: 15px;
}

.FollowList-profile-link {
  width: fit-content;
}

.FollowList-profile-link:hover {
  text-decoration: underline;
}

.FollowList-Link {
  display: inline-block;
  width: fit-content;
}
