.FollowsList_Wrapper {
  display: grid;
  padding: 20px 15px;
  grid-template-columns: 10% 65% 25%;
}

#light .FollowsList_Wrapper {
  border-bottom: solid 1px #ccc;
}

#dim .FollowsList_Wrapper {
  border-bottom: solid 1px #37444d;
}

#black .FollowsList_Wrapper {
  border-bottom: solid 1px #2f3336;
}

.FollowsList_middle_holder {
  text-align: left;
}

.FollowsList_title {
  font-weight: bold;
  font-size: 12px;
}

.FollowsList_id {
  font-size: 12px;
}

.FollowsList_bio {
  font-size: 14px;
  height: 20px;
}

.FollowsList_follow_btn {
  padding: 0;
  height: 50%;
  font-size: 15px;
}

.FollowList-profile-link {
  width: fit-content;
}

.FollowList-profile-link:hover {
  text-decoration: underline;
}

.FollowList-Link {
  display: inline-block;
  width: fit-content;
}
