.FollowsList_Wrapper {
  display: flex;
  padding: 16px;
  cursor: pointer;
  height: fit-content;
  font-size: 15px;
  justify-content: space-between;
}

#light .FollowsList_Wrapper:hover {
  background-color: #f3f3f72f;
}

#dim .FollowsList_Wrapper:hover {
  background-color: #2c36402f;
}

#black .FollowsList_Wrapper:hover {
  background-color: #1818182f;
}

#light .FollowsList_Wrapper:active {
  background-color: #f3f3f750;
}

#dim .FollowsList_Wrapper:active {
  background-color: #2c364050;
}

#black .FollowsList_Wrapper:active {
  background-color: #18181850;
}

.follow-list-user {
  display: flex;
  max-width: 481px;
  gap: 16px;
}

.FollowsList_middle_holder {
  text-align: left;
}

#light .FollowsList_middle_holder {
  color: #0f1419;
}

#dim .FollowsList_middle_holder {
  color: #e7e9ea;
}

#black .FollowsList_middle_holder {
  color: #e7e9ea;
}

#light .FollowsList_id {
  color: #536471;
}

#dim .FollowsList_id {
  color: #8b98a5;
}

#black .FollowsList_id {
  color: #8b98a5;
}

.FollowsList_bio {
  font-size: 15px;
  width: 450px;
}

.FollowsList_follow_btn {
  height: 35px;
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: unset !important;
}

#light .FollowsList_follow_btn {
  border-color: #0f1419;
  color: #0f1419;
}

#dim .FollowsList_follow_btn {
  border-color: #eff3f4;
  color: #eff3f4;
}

#black .FollowsList_follow_btn {
  border-color: #eff3f4;
  color: #0f1419;
}

.FollowList-profile-link {
  font-weight: 700;
  width: fit-content;
}

.FollowList-profile-link:hover {
  text-decoration: underline;
}

.follow-list {
  margin-top: 20px;
}
