#layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#title {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 584px;
  height: 53px;
  top: 0;
  text-align: left;
  padding-left: 16px;
  margin-top: 0;
  backdrop-filter: blur(6px);
  backface-visibility: hidden;
}

#light #title {
  background-color: #ffffffaa;
  border-bottom: solid 1px #ccc;
}

#black #main {
  background-color: #000000aa;
  border-bottom: solid 1px #2f3336;
}

#left {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: flex-end;
}

#content-left-container {
  width: 275px;
}

#content-left {
  position: fixed;
  margin-top: 5px;
}

#logo-div {
  flex-grow: 1;
  display: flex;
}

#main {
  width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 53px;
}

#light #main {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

#black #main {
  border-left: solid 1px #2f3336;
  border-right: solid 1px #2f3336;
}

#right {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: flex-start;
}

#content-right-container {
  width: 250px;
}

#content-right {
  position: fixed;
  margin-top: 5px;
  width: 250px;
}

#credits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0.5;
  padding: 20px;
  gap: 5px;
  font-size: 13px;
}

#credits > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1298px) {
  #content-left-container {
    width: 50px;
  }
}

@media only screen and (max-width: 1022px) {
  #content-right-container {
    width: 200px;
  }
}

@media only screen and (max-width: 988px) {
  #content-right-container {
    width: 75px;
  }
}

@media only screen and (max-width: 880px) {
  #credits {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #layout {
    flex-direction: column;
  }
  #main {
    width: 100%;
  }
  #left {
    display: none;
  }
  #right {
    display: none;
  }
}
