#layout {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

#title {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  width: 100%;
  max-width: 584px;
  min-height: 53px;
  top: 0;
  text-align: left;
  padding-left: 16px;
  margin-top: 0;
  backdrop-filter: blur(6px);
  backface-visibility: hidden;
  cursor: pointer;
}

#title-header {
  margin: 10px 0 0 0;
  padding: 0;
}

#light #title-username {
  color: #536471;
}

#dim #title-username {
  color: #8b98a5;
}

#black #title-username {
  color: #71767b;
}

#light #title {
  background-color: #ffffffaa;
  border-bottom: solid 1px #ccc;
}

#dim #title {
  background-color: #15202baa;
  border-bottom: solid 1px #37444d;
}

#black #main {
  background-color: #000000aa;
  border-bottom: solid 1px #2f3336;
}

.title-follow {
  display: flex;
  justify-content: c;
  margin-left: -16px;
  padding-bottom: 0;
  margin-bottom: 0;
}

#title-follow-page {
  width: 100%;
}

#title-header-container {
  display: flex;
  align-items: center;
}
.follow-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 53px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
}

.title-tab-indicator {
  width: 70px;
  height: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  transition: left 0.25s ease-in-out;
}

#red .title-tab-indicator {
  background-color: #ef3e2e;
}

#orange .title-tab-indicator {
  background-color: #ff7a00;
}

#yellow .title-tab-indicator {
  background-color: #ffd400;
}

#green .title-tab-indicator {
  background-color: #acfc3c;
}

#blue .title-tab-indicator {
  background-color: #222da1;
}

#purple .title-tab-indicator {
  background-color: #7856ff;
}

#pink .title-tab-indicator {
  background-color: #ff86e0;
}

#light .follow-tab:hover {
  background-color: #f3f3f750;
}

#dim .follow-tab:hover {
  background-color: #2c364050;
}

#black .follow-tab:hover {
  background-color: #18181850;
}

#back-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 36px;
  height: 36px;
  padding: 0;
  margin-right: 18px;
  background: unset !important;
}

#left {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: flex-end;
}

#content-left-container {
  width: 275px;
  z-index: 1;
}

#content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  margin-top: 5px;
}

#logo-div {
  flex-grow: 1;
  display: flex;
}

#main {
  width: 600px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 77px;
}

#light #main {
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

#dim #main {
  border-left: solid 1px #37444d;
  border-right: solid 1px #37444d;
}

#black #main {
  border-left: solid 1px #2f3336;
  border-right: solid 1px #2f3336;
}

#right {
  display: flex;
  flex-grow: 1;
  height: 100%;
  padding-left: 8px;
  padding-right: 8px;
  justify-content: flex-start;
}

#content-right-container {
  width: 375px;
}

#content-right {
  padding-top: 100px;
  position: fixed;
  height: 70vh;
  overflow-y: scroll;
  margin: 0;
  margin-left: 20px;
  z-index: 1;
}

#content-right::-webkit-scrollbar {
  display: none;
}

#right-cut-off {
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  z-index: 3;
}

#light #right-cut-off {
  background-color: #fff;
}

#dim #right-cut-off {
  background-color: #15202b;
}

#black #right-cut-off {
  background-color: #000;
}

#credits {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0.5;
  padding: 20px;
  gap: 5px;
  font-size: 15px;
  width: 375px;
}

#credits > a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 1298px) {
  #content-left-container {
    width: 50px;
  }
}

@media only screen and (max-width: 1022px) {
  #content-right-container {
    width: 200px;
  }
  #your-goals {
    display: none;
  }
}

@media only screen and (max-width: 988px) {
  #content-right-container {
    width: 75px;
  }
}

@media only screen and (max-width: 880px) {
  #credits {
    display: none;
  }
}

@media only screen and (max-width: 760px) {
  #title {
    position: sticky;
    width: 95%;
  }

  #main {
    padding-top: 0;
  }
}

@media only screen and (max-width: 400px) {
  #layout {
    flex-direction: column;
  }
  #main {
    width: 100%;
  }
  #left {
    display: none;
  }
  #right {
    display: none;
  }
}
