.nav-link-container {
  width: 275px;
  padding: 5px 0 0 0;
  cursor: pointer;
}

.nav-link-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 10px 17px 14px;
  width: fit-content;
  height: 30px;
  border-radius: 9999px;
  user-select: none;
}

.nav-text {
  font-size: 20px;
  font-weight: 400;
  padding-right: 12px;
}

.active .nav-text {
  font-weight: 700;
}

.menu {
  border-radius: 12px;
  overflow: hidden;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.menu-item:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1298px) {
  .nav-link-container {
    width: fit-content;
  }
  .nav-text {
    display: none;
  }
  .nav-link-content {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 12px;
    justify-content: center;
  }
}
