.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-user {
  display: flex;
}

#light .post-user {
  color: #2f3336;
}

#black .post-user {
  color: #d9dbd6;
}

#light .post {
  border-bottom: solid 1px #ccc;
}

#black .post {
  border-bottom: solid 1px #2f3336;
}

.post-title {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.post-body {
  text-align: left;
}

.post-doit {
  cursor: pointer;
  user-select: none;
}

.post-doit > span {
  font-weight: 700;
  margin-right: 3px;
}

.post-timestamp {
  opacity: 0.5;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.post-fullname {
  font-weight: bold;
  margin-left: 10px;
}

.post-fullname:hover {
  text-decoration: underline;
}

#light .post-fullname {
  color: #2f3336;
}

#black .post-fullname {
  color: #d9dbd6;
}

.post-username {
  font-size: smaller;
  opacity: 0.5;
  padding-top: 0.4em;
  margin-left: 5px;
}

#light .post-username {
  color: #2f3336;
}

#black .post-username {
  color: #d9dbd6;
}

.post > * {
  margin: 2px 0;
}
