.post {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 16px;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: flex-start;
}

.post-user {
  display: flex;
}

.post-avatar {
  padding-bottom: 20px;
}

#light .post-user {
  color: #2f3336;
}

#dim .post-user {
  color: #d9dbd6;
}

#black .post-user {
  color: #d9dbd6;
}

#light .post {
  border-bottom: solid 1px #ccc;
}

#dim .post {
  border-bottom: solid 1px #37444d;
}

#black .post {
  border-bottom: solid 1px #2f3336;
}

.post-title {
  text-align: left;
  width: 100%;
  font-weight: bold;
}

.post-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}

.post-body {
  max-width: 520px;
  text-align: left;
}

.post-doit {
  cursor: pointer;
  user-select: none;
}

.post-doit:hover {
  color: #acfc3c;
}

.post-doit > span {
  font-weight: 700;
  margin-right: 3px;
}

.post-timestamp {
  opacity: 0.5;
}

.post-footer {
  display: flex;
  justify-content: space-between;
}

.post-fullname {
  font-weight: bold;
  font-size: 15px;
}

.post-fullname:hover {
  text-decoration: underline;
}

#light .post-fullname {
  color: #2f3336;
}

#dim .post-fullname {
  color: #d9dbd6;
}

#black .post-fullname {
  color: #d9dbd6;
}

.post-username {
  opacity: 0.5;
  font-size: 15px;
}

#light .post-username {
  color: #2f3336;
}

#dim .post-username {
  color: #d9dbd6;
}

#black .post-username {
  color: #d9dbd6;
}

.post > * {
  margin: 2px 0;
}
