.FollowsTabs-text-holder {
  text-align: left;
  padding: 15px;
}

.FollowsTabs-nav {
  width: 100%;
  font-size: 20px;
  position: relative;
  padding-bottom: 10px;
}

.FollowTabs-follow {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.FollowTabs-tabSlider {
  width: 70px;
  height: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 5px;
  transition: left 0.25s ease-in-out;
  background-color: blue;
}
