.edit-profile-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 95%;
    height: 500px;
    position: relative;
}

.fa-solid{
    cursor: pointer;
}

.edit-profile-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    background-color: red;
    position: absolute;
    top: 120px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.edit-profile-banner{
    background-color: aqua;
    height: 200px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.non-image-inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-top: 50px;
}

.camera-icon-wrapper-banner, .camera-icon-wrapper-avatar{
    border-radius: 100%;
    opacity: 1;
    width: 45px;
    height: 45px;
    background-color: #00000080;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
