.edit-profile-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 95%;
}

.fa-camera{
    cursor: pointer;
}

.edit-profile-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    background-color: red;
    position: relative;
    top: -10;
}

.edit-profile-banner{
    background-color: aqua;
    height: 200px;
    width: 100%;
    z-index:-1;
    margin: 0;
    top: 0;
    position: relative;

}
