.edit-profile-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: 500px;
    position: relative;
}

.fa-solid{
    cursor: pointer;
}

.edit-profile-avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    top: 120px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.edit-profile-banner{
    height: 200px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1
}

#red .edit-profile-banner {
    background-color: #ef3e2e;
  }

  #orange .edit-profile-banner {
    background-color: #ff7a00;
  }

  #yellow .edit-profile-banner {
    background-color: #ffd400;
  }

  #green .edit-profile-banner {
    background-color: #acfc3c;
  }

  #blue .edit-profile-banner {
    background-color: #222da1;
  }

  #purple .edit-profile-banner {
    background-color: #7856ff;
  }

  #pink .edit-profile-banner {
    background-color: #ff86e0;
  }


.non-image-inputs{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-top: 50px;
}

.camera-icon-wrapper-banner, .camera-icon-wrapper-avatar{
    border-radius: 100%;
    opacity: 1;
    width: 45px;
    height: 45px;
    background-color: #00000080;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
}

.camera-icon-wrapper-banner-existing{
  border-radius: 100%;
  opacity: 1;
  width: 45px;
  height: 45px;
  background-color: #00000080;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  top: 20%;
  left: 40%;
}
