.profile {
  position: relative;
  min-height: 100vh;
}

.profile-banner {
  position: absolute;
  height: 200px;
  width: 100%;
  z-index: 0;
  margin: 0;
  top: 0;
}

#red .profile-banner {
  background-color: #ef3e2e;
}

#orange .profile-banner {
  background-color: #ff7a00;
}

#yellow .profile-banner {
  background-color: #ffd400;
}

#green .profile-banner {
  background-color: #acfc3c;
}

#blue .profile-banner {
  background-color: #222da1;
}

#purple .profile-banner {
  background-color: #7856ff;
}

#pink .profile-banner {
  background-color: #ff86e0;
}

.profile-header {
  margin: 0 16px;
  padding-top: 130px;
}

#profile-username {
  font-size: 15px;
  color: #8b98a5;
}

.profile-bio {
  margin-top: 10px;
  font-weight: bold;
}

#joined-at {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #8b98a5;
  font-size: 15px;
  margin-top: 2px;
}

.profile-bio-button-holder {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
  font-size: 15px;
}

.profile-followings-holder {
  display: flex;
  gap: 15px;
  font-weight: bold;
  cursor: pointer;
}

.profile-followings-holder > p > span {
  color: #8b98a5 !important;
  font-size: 15px;
}

.profile-bio-follows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

span {
  font-weight: 400;
}

p {
  margin: 0 0 7px 0;
  font-size: 13px;
}

.profile-bio-follows > h2 {
  margin: 0;
  margin-bottom: -5px;
}

.profile-tabs {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  margin-top: 8px;
  position: relative;
}

#light .profile-tabs {
  border-bottom: solid 1px #ccc;
}

#dim .profile-tabs {
  border-bottom: solid 1px #37444d;
}

#black .profile-tabs {
  border-bottom: solid 1px #2f3336;
}

#light .profile-tabs a {
  color: #0f1419;
}

#dim .profile-tabs a {
  color: #8b98a5;
}

#black .profile-tabs a {
  color: #f7f9f9;
}

.profile-indicator {
  width: 61px;
  height: 5px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  transition: left 0.25s ease-in-out;
}

#red .profile-indicator {
  background-color: #ef3e2e;
}

#orange .profile-indicator {
  background-color: #ff7a00;
}

#yellow .profile-indicator {
  background-color: #ffd400;
}

#green .profile-indicator {
  background-color: #acfc3c;
}

#blue .profile-indicator {
  background-color: #222da1;
}

#purple .profile-indicator {
  background-color: #7856ff;
}

#pink .profile-indicator {
  background-color: #ff86e0;
}

.edit-profile-button {
  height: 35px;
  margin-top: 85px;
  display: flex;
  align-items: center;
}
