.profile {
  position: relative;
  min-height: 100vh;
}

.profile-banner {
  position: absolute;
  background-color: blue;
  height: 200px;
  width: 100%;
  z-index: 0;
  margin: 0;
  top: 0;
}

.profile-header {
  margin: 0 16px;
  padding-top: 130px;
}

.profile-bio-button-holder {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: flex-end;
}

.profile-followings-holder {
  display: flex;
  gap: 10px;
  font-weight: bold;
}

.profile-bio-follows {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

span {
  font-weight: 400;
  opacity: 0.5;
}

.profile-bio {
  font-weight: bold;
}

p {
  margin: 0 0 7px 0;
  font-size: 13px;
}

.profile-bio-follows > h2 {
  margin: 0;
  margin-bottom: -5px;
}

.profile-tabs {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  position: relative;
}

#light .profile-tabs a {
  color: #0f1419;
}

#dim .profile-tabs a {
  color: #f7f9f9;
}

#black .profile-tabs a {
  color: #f7f9f9;
}

.profile-indicator {
  width: 61px;
  height: 6px;
  border-radius: 9999px;
  position: absolute;
  bottom: 0;
  transition: left 0.25s ease-in-out;
}

#red .profile-indicator {
  background-color: #ef3e2e;
}

#orange .profile-indicator {
  background-color: #ff7a00;
}

#yellow .profile-indicator {
  background-color: #ffd400;
}

#green .profile-indicator {
  background-color: #acfc3c;
}

#blue .profile-indicator {
  background-color: #222da1;
}

#purple .profile-indicator {
  background-color: #7856ff;
}

#pink .profile-indicator {
  background-color: #ff86e0;
}
