.LeaveChallengeModal > button {
  color: red;
}

.LeaveChallengeModal > div {
  margin-bottom: 10px;
}

.DeleteChallengeModal > button {
  color: red;
}

.DeleteChallengeModal > div {
  margin-bottom: 10px;
}
