.challengesWrapper {
  width: 100%;
}

.challengesPostBox {
  display: flex;
}

.challengesPostInputs {
  width: 100%;
}

.challengesPostInputs > input {
  width: 100%;
  border: none;
}

.callenges-avatar-wrapper {
  margin: 7px;
}

.singleChallenge-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.singleChallenge-button-wrapper > button {
  font-size: 14px;
  margin-bottom: 5px;
}

.challengesPostForm {
  border-bottom: lightgray solid 1px;
}

#light .challengesPostForm {
  border-bottom: solid 1px #ccc;
}

#dim .challengesPostForm {
  border-bottom: solid 1px #37444d;
}

#black .challengesPostForm {
  border-bottom: solid 1px #2f3336;
}
