.challengeWrapper {
  display: flex;
  justify-content: space-between;
  padding: 7px;
  border-bottom: lightgray solid 1px;
  cursor: pointer;
}

#light .challengeWrapper {
  border-bottom: solid 1px #ccc;
}

#dim .challengeWrapper {
  border-bottom: solid 1px #37444d;
}

#black .challengeWrapper {
  border-bottom: solid 1px #2f3336;
}

.singelChallenge-text {
  text-align: left;
}

.singelChallenge-text-first {
  margin-bottom: 15px;
  margin-top: 5px;
  font-weight: 500;
}

.singelChallenge-text-second {
  font-size: 14px;
}

.singleChallenge-dropdown {
  margin-bottom: 20px;
}

.singleChallenge-dropdown-wrapper {
  justify-self: end;
}

.singleChallenge-icon-wrapper > * {
  margin-right: 10px;
  font-size: 14px;
}

.singleChallenge-dropdown {
  padding-left: 20px;
}
