.nav-link-container {
  width: 275px;
  padding: 5px 0 0 0;
  cursor: pointer;
}

.nav-link-content {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 12px 10px 17px 14px;
  width: fit-content;
  height: 30px;
  border-radius: 9999px;
  user-select: none;
}

.nav-text {
  font-size: 20px;
  font-weight: 400;
  padding-right: 12px;
  margin-bottom: 0;
}

.active .nav-text {
  font-weight: 700;
}

.goal-overlay {
  width: 90%;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  user-select: none;
}

.goal-overlay::after {
  content: "";
  position: absolute;
  border-radius: 9999px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.1s ease;
}

.goal-overlay:hover::after {
  opacity: 1;
}

#goal-button {
  width: 100%;
  position: relative;
  padding: 16px;
}

#goal-button-text {
  all: unset;
  font-size: 17px;
  color: #fff !important;
}

#red #goal-button {
  background-color: #ef3e2e;
}

#orange #goal-button {
  background-color: #ff7a00;
}

#yellow #goal-button {
  background-color: #ffd400;
}

#green #goal-button {
  background-color: #acfc3c;
}

#blue #goal-button {
  background-color: #222da1;
}

#purple #goal-button {
  background-color: #7856ff;
}

#pink #goal-button {
  background-color: #ff86e0;
}

.goal-plus {
  display: none;
}

@media only screen and (max-width: 1298px) {
  .nav-link-container {
    width: fit-content;
  }
  .nav-text {
    display: none;
  }
  .nav-link-content {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    padding: 12px;
    justify-content: center;
  }

  #goal-button {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0px 0px 5px 9px;
  }

  #goal-button-text {
    display: none;
  }

  .goal-plus {
    display: block;
  }
}

@media only screen and (max-width: 400px) {
  .nav-link-container {
    display: flex;
  }
}
